<div id = "show">
	<div class="container-fluid" id="show-container">
	    <header></header>
	    <main>
	        <h2><%= @recipe.title %></h2>
	        <ul style="list-style-type: none; padding:0; margin:0;">
	        	<li><b>Instructions:</b></li>
	        	<% @recipe.instructions.split(".").each do |i| %>
	          	<li><%= i %>.</li>
	          <% end %>
					  <li><b>Serves</b>: <%= @recipe.yield_number %></li>
	        </ul>
	        <p><a href="/orders/<%= @recipe.order.id %>">Take Me Back!</a></p>
	    </main>
	    <footer></footer>
	</div>
</div>