<p>Order Id: <%= @order.id %></p>
<h2>Your Shopping List:</h2>
<br>
<ul>
<% @order.shopping_list.each do |name,attributes| %>
  <li><%= attributes[:normalized] %> of <%= name %></li>
<% end %>
</ul>


 
<!-- <li><%#="#{remove_if_not_plural(attributes[:quantity])} #{attributes[:measurement]} of #{name}" %></li> -->