<div class="container-fluid" id="home-container">
    <header></header>
    <main>
        <div id="home-text">
            <h1>Stop Letting Your Groceries Go To Waste.</h1>
            <h3>Create a Shopping List for 3 Meals Starting With What's Already In Your Fridge!</h3>
            <button onClick="location.href='/orders/new'" id="start-button" type="button" class="btn btn-lg">Get Started</button>
        </div>
    </main>
    <footer></footer>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>