<div class="container-fluid" id="home-container">
    <header></header>
    <main>
        <div id="home-text">
            <h1>Stop Letting Your Groceries Go To Waste.</h1>
            <h3>Create a Shopping List for 3 Meals Starting With What's Already In Your Fridge!</h3>
            <button onClick="location.href='/orders/new'" id="start-button" type="button" class="btn btn-lg">Get Started</button>
        </div>
    </main>
    <footer></footer>
</div>