<div class="container-fluid" id="search-container">
    <header></header>
    <main>
        <h1>What's In Your Fridge?</h1>
<!--             <form class="form-inline" role="form"> 
            <input type="text" class="form-control" placeholder="text input">
        </form> -->

        <%= form_tag("/orders", class: "form-inline") do %>
					  <%= text_field_tag('order[leftovers]', "Ingredients Here!", class: "form-control") %>
					<% end %>
    </main>
    <footer></footer>
</div>