<div class="container-fluid" id="welcome-container">
    <header></header>
    <main>
        <h1>Welcome!</h1>
        <div class="row">

          <% @order.recipes.each do |r| %>
            <div class="col-md-4">
                <div class="recipe-box" style="background-image: url(<%= r.image_url %>);"><a href = "/recipes/<%= r.id %>" id="transparency">
                  <h2><%= r.title %></h2>
                </a></div>
            </div>
          <% end %>

        </div>
        <button onClick="location.href='/orders/<%= @order.id %>/ingredients'" id="finalize-button" type="button" class="btn btn-lg">Click to Finalize Your Shopping List</button>
    </main>
    <footer></footer>
</div>



